:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Black and grey shades */
  --black: #121212; /* Very dark grey (almost black) */
  --black2: #1e1e1e; /* Dark grey */
  --black3: #2a2a2a; /* Medium-dark grey */
  --black4: #333333; /* Medium grey */
  --grey-light: #666666; /* Light grey */
  --grey-lighter: #999999; /* Lighter grey */
  --pink: #da2f68; /* Accent color (pink) */
  --orange: #f89e00; /* Accent color (orange) */
  --gradient: linear-gradient(98.37deg, #00f83e 0.99%, #ccda2f 100%); /* Green to yellow gradient */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black); /* Very dark background */
  color: var(--grey-light); /* Light grey text for contrast */
}

::-webkit-scrollbar {
  display: none;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--black2); /* Dark grey background for skeleton loader */
  
  &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.2) 20%,
          rgb(18, 18, 18) 60%,
          rgba(255, 255, 255, 0) 100%
      );
      animation: shimmer 2s infinite;
      content: "";
  }

  @keyframes shimmer {
      100% {
          transform: translateX(100%);
      }
  }
}
